extends layout

block content
  h1 Anwendungsseite
  p Auf dieser Seite können Sie mithilfe der gegebenen Schritte ...
  .row.justify-content-md-left
        .col-lg-6.col-xs-12.mb-3
            .card.text-dark.p-4.border-success.card
              #anwendungsmap

        .col-lg-6.col-xs-12.mb-3
            .card.text-dark.p-4.border-success.card
              h3 Durchführungsschritte
              p 1. Kartenausschnitt zeichnen (auf der Karte links)
              p 2. Datenupload (trained model oder trainingsdaten, Sentinel 2 Bild)
              input#upload(type='file')
              p 3. Auswahl Bänder Sentinel2
              .form-check
                input.form-check-input#flexCheckDefault(type="checkbox")
                label.form-check-label(for="flexCheckDefault").
                  B01
              .form-check
                input.form-check-input#flexCheckDefault(type="checkbox")
                label.form-check-label(for="flexCheckDefault").
                  B02 
              .form-check
                input.form-check-input#flexCheckDefault(type="checkbox")
                label.form-check-label(for="flexCheckDefault").
                  B03
    
              p 4. Auflösung einstellen 
              .form-check
                input.form-check-input#flexCheckDefault(type="checkbox")
                label.form-check-label(for="flexCheckDefault").
                  10m
              .form-check
                input.form-check-input#flexCheckDefault(type="checkbox")
                label.form-check-label(for="flexCheckDefault").
                  20m
              .form-check
                input.form-check-input#flexCheckDefault(type="checkbox")
                label.form-check-label(for="flexCheckDefault").
                  30m
              p 5. Ausführen des trainings, der Prediction, AOA und berechnung der empfohlenen Bereiche zum nachtrainieren 
              button.btn.btn-success(type='submit') Ausführen
          





  block scripts 
    link(rel='stylesheet' href='/stylesheets/bootstrap.css')
    script(src="/javascripts/application.js")