extends layout

block content
  h1 Anwendungsseite
  p Auf der Anwendungsseite finden Sie einen Bereich zum Datenupload. Sie können entweder Trainingsdaten, ein trainiertes Modell oder eine Sentinel 2 Bilddatei hochladen. Außerdem können Sie hier verschiedene Parameter einstellen und schließlich die Durchführung der AOA-Berechnung, das Trainieren des Algortihmus und das Anzeigen der Bereiche, in denen weitere Trainingsdaten erhoben werden müssen, starten.

  .row.justify-content-md-left
        .col-lg-6.col-xs-12.mb-3
            .card.text-dark.p-4.border-success.cardanwendungsmap
              #anwendungsmap

        .col-lg-6.col-xs-12.mb-3
            .card.text-dark.p-4.border-success.cardanwendungsseite
              h3 Durchführungsschritte
              p 1. Zeichnen Sie links auf der Karte mit dem Leaflet Draw Plugin einen rechteckigen Bereich, mit welchem Sie arbeiten möchten.
              p 2. Datenupload: Laden Sie Ihre Daten, welche zur Durchführung benötigt werden hoch! Hier bitte entweder 2.1 ODER 2.2 hochladen.
              a   2.1 Trainingsdaten
              input.i.fa.fa-upload(aria-hidden='true').btn.btnupload.btn-success#uploadtrain(type='file')  
              a   2.2 trainiertes Modell
              input.i.fa.fa-upload(aria-hidden='true').btn.btnupload.btn-success#uploadtrain(type='file')   
              a   2.2 Sentinel 2 Bilddatei
              input.i.fa.fa-upload(aria-hidden='true').btn.btnupload.btn-success#uploadtrain(type='file')  
              p 3. Auswahl der Sentinel 2 Bänder
              .dropdown
                  button.btn.btndropdown.btn-success.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                    | Bänder Selektion
                  ul.dropdown-menu
                    li
                      .checkbox
                          label
                            input(type='checkbox')
                            | B01
                    li
                      .checkbox
                          label
                            input(type='checkbox')
                            | B02
                    li
                      .checkbox
                          label
                            input(type='checkbox')
                            | B03
                    ul
    
              p 4. Wählen Sie eine Auflösung
                .dropdown
                  button.btn.btndropdown.btn-success.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                    | Auflösung
                  .dropdown-menu
                    .form-check
                      input#flexRadioDefault10m.form-check-input(type='radio', name='flexRadioDefault')
                      label.form-check-label(for='flexRadioDefault10m')
                        | 10 Meter
                    .form-check
                      input#flexRadioDefault20m.form-check-input(type='radio', name='flexRadioDefault')
                      label.form-check-label(for='flexRadioDefault20m')
                        | 20 Meter
                    .form-check
                      input#flexRadioDefault30m.form-check-input(type='radio', name='flexRadioDefault')
                      label.form-check-label(for='flexRadioDefault20m')
                        | 30 Meter
              p 5. Beim Klicken des Ausführen Buttons wird das Training, die Prediction, die AOA und die Ermittlung der empfolenen Gebiete, welche nachtrainiert werden müssen, ausgeführt. 
              button.btn.btn-success(type='submit') Ausführen
          





  block scripts 
    script(src="/javascripts/application.js")
