head 
  link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')
  link(rel='stylesheet' href='https://www.w3schools.com/lib/w3-theme-black.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='/stylesheets/bootstrap.css')
  link(rel='stylesheet' href='/stylesheets/style.css')
  // Bootstrap
  link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous")
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous")
        
  // jQuery library 
  script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")
  script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous")
        
  // Leaflet
  link(rel='stylesheet' href='https://unpkg.com/leaflet@1.8.0/dist/leaflet.css' integrity='sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==' crossorigin='')
  script(src='https://unpkg.com/leaflet@1.8.0/dist/leaflet.js' integrity='sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==' crossorigin='')
  script(src='https://unpkg.com/@ngageoint/leaflet-geopackage@2.0.5/dist/leaflet-geopackage.min.js')

  // leaflet draw
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js')

  // Mapbox
  script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.js')
  link(href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css' rel='stylesheet')

  // Icon libaries
  script(type="module", src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js")
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')


  script(src="/javascripts/shp.js")
  script(src='/javascripts/leaflet.shpfile.js')

//Navbar
.w3-top
  .w3-bar.w3-theme-d2.w3-left-align
    a.w3-bar-item.w3-button.w3-hide-medium.w3-hide-large.w3-right.w3-hover-white.w3-theme-d2(href='javascript:void(0);' onclick='openNav()')
      i.fa.fa-bars
    a.w3-bar-item.w3-button.w3-teal(href='/')
      i.fa.fa-home.w3-margin-right
      | Startseite
    a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(href='/#team') Team
    a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(href='/#product') Produkte
    a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(href='/#contact') Kontakt
    .w3-dropdown-hover.w3-hide-small
      button.w3-button(title='Notifications')
        | Vorschläge    
        i.fa.fa-caret-down
      .w3-dropdown-content.w3-card-4.w3-bar-block
        a.w3-bar-item.w3-button(href='/anwendungsseite') Area of Applicability
        a.w3-bar-item.w3-button(href='https://github.com/GeoAtzen') Github
        a.w3-bar-item.w3-button(href='/impressum') Referenzen
    a.w3-bar-item.w3-button.w3-hide-small.w3-right.w3-hover-teal(href='#' title='Search')
      i.fa.fa-search
  // Navbar on small screens
  #navDemo.w3-bar-block.w3-theme-d2.w3-hide.w3-hide-large.w3-hide-medium
    a.w3-bar-item.w3-button(href='#team') Team
    a.w3-bar-item.w3-button(href='#product') Produkte
    a.w3-bar-item.w3-button(href='#contact') Kontakt

block content
  br
  br
  h1 Anwendungsseite
  p Auf der Anwendungsseite finden Sie einen Bereich zum Datenupload. Sie können entweder Trainingsdaten, ein trainiertes Modell oder eine Sentinel 2 Bilddatei hochladen. Außerdem können Sie hier verschiedene Parameter einstellen und schließlich die Durchführung der AOA-Berechnung, das Trainieren des Algortihmus und das Anzeigen der Bereiche, in denen weitere Trainingsdaten erhoben werden müssen, starten.

  .row.justify-content-md-left
        .col-lg-6.col-xs-12.mb-3
            .card.text-dark.p-4.border-success.cardanwendungsmap
              #anwendungsmap

        .col-lg-6.col-xs-12.mb-3
            .card.text-dark.p-4.border-success.cardanwendungsseite
              h3 Durchführungsschritte
              p 1. Zeichnen Sie links auf der Karte mit dem Leaflet Draw Plugin einen rechteckigen Bereich, mit welchem Sie arbeiten möchten.
              p 2. Datenupload: Laden Sie Ihre Daten, welche zur Durchführung benötigt werden hoch! Hier bitte entweder 2.2 ODER 2.3 hochladen.
              a   2.1 Sentinel 2 Bilddatei
              form(method='post', enctype='multipart/form-data', action='/uploadsentinel')
                input(type='file', name='file')
                input(type='submit', value='Submit')

              a   2.2 Trainingsdaten
              form(method='post', enctype='multipart/form-data', action='/uploadtrainingsdata' )
                input(type='file', name='file')
                input(type='submit', value='Submit')

              a   2.3 trainiertes Modell
              form(method='post', enctype='multipart/form-data', action='/uploadmodel')
                input(type='file', name='file')
                input(type='submit', value='Submit')
              
              p 3. Wählen Sie eine Auflösung
                .dropdown
                  button.btn.btndropdown.btn-success.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                    | Auflösung
                  .dropdown-menu
                    .form-check
                      input#flexRadioDefault10m.form-check-input(type='radio', name='flexRadioDefault')
                      label.form-check-label(for='flexRadioDefault10m')
                        | 10 Meter
                    .form-check
                      input#flexRadioDefault20m.form-check-input(type='radio', name='flexRadioDefault')
                      label.form-check-label(for='flexRadioDefault20m')
                        | 20 Meter
                    .form-check
                      input#flexRadioDefault30m.form-check-input(type='radio', name='flexRadioDefault')
                      label.form-check-label(for='flexRadioDefault20m')
                        | 30 Meter
              p 4. Beim Klicken des Ausführen Buttons wird das Training, die Prediction, die AOA und die Ermittlung der empfolenen Gebiete, welche nachtrainiert werden müssen, ausgeführt. 
              
              form(method='post', action='/anwendungsseite/ergebnisseitemodel')
                button.btn.btn-success() Ausführen mit trainiertem Modell
              br
              form(method='post', action='/anwendungsseite/ergebnisseitegpkg')
                button.btn.btn-success() Ausführen mit geoPackage Trainingsdaten
              br
              form(method='post', action='/anwendungsseite/ergebnisseiteshape')
                button.btn.btn-success() Ausführen mit Shapefile Trainingsdaten

  script(src="/javascripts/shp.js")
  script(src='/javascripts/leaflet.shpfile.js')
  script(src="/javascripts/application.js")
  
script.
  // Script for side navigation
  function w3_open() {
  var x = document.getElementById("mySidebar");
  x.style.width = "300px";
  x.style.paddingTop = "10%";
  x.style.display = "block";
  }
  // Close side navigation
  function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  }
  // Used to toggle the menu on smaller screens when clicking on the menu button
  function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
  x.className += " w3-show";
  } else {
  x.className = x.className.replace(" w3-show", "");
  }
  }
 
