extends layout

block content
  h1 Ergebnisseite
              p Auf der Ergebnisseite werden die Ergebnisse angezeigt, welche auf der Anwendungsseite berechnet wurden. Ihnen ist es hier möglich, sich die Dateien einzeln anzeigen zu lassen und/oder diese zu downloaden.
  .row.justify-content-md-left
        .col-lg-6.col-xs-12.mb-3
            .card.text-dark.p-4.border-success.cardmap
              #ergebnismap
        .col-lg-6.col-xs-12.mb-3
            .card.text-dark.p-4.border-success.cardmenu
              h2 Layer
              p Wählen Sie die Layer aus, welche Sie angezeigt bekommen wollen.
                .card.text-dark.p-4.border-success.cardprediction
                  input.form-check-input#checkboxNoLabel(type="checkbox", aria-label="...")
                  h4 Prediction
                  p Legende:
                br
                .card.text-dark.p-4.border-success.cardprediction
                  input.form-check-input#checkboxNoLabel(type="checkbox", aria-label="...")
                  h4 AOA
                br
                .card.text-dark.p-4.border-success.cardprediction
                  Input.form-check-input#checkboxNoLabel(type="checkbox", aria-label="...")
                  h4 Trainingsgebiete
                br
                .card.text-dark.p-4.border-success.cardprediction
                  input.form-check-input#checkboxNoLabel(type="checkbox", aria-label="...")
                  h4 empfohlene Gebiete zum nachtrainieren
                      
                br
                .card.text-dark.p-4.border-success.cardprediction
                  input.form-check-input#checkboxNoLabel(type="checkbox", aria-label="...")
                  h4 Sentinel 2 Satelliten Bild
                br
                br
                p Herunterladen aller Daten als .zip:
                a.i.fa.fa-download.btn.btndownload.btn-success(role='button', href='http://localhost:3000/ergebnisseite/Daten', download='')
                    

  script(src="/javascripts/results.js")