extends layout

block content
    br
    br
    h1 Ihr Upload war nicht erfolgreich! 
        p Bitte überprüfen Sie, ob das richtige Uploadfenster und Format gewählt wurde und versuchen Sie es erneut!