extends layout

block content
    br
    br
    h1 Ihr Upload war nicht erfolgreich! 
    p Bitte 체berpr체fen Sie, ob das richtige Uploadfenster und Format gew채hlt wurde und versuchen Sie es erneut!

    form(method='post', action='/anwendungsseite')
        button.btn.btn-success() Zur체ck zur Anwendung! 
