block content
     .row.justify-content-md-center
          .col-lg-6.col-xs-12.mb-3
               .card.text-dark.p-4.border-success.cardimpress
                    h1 Impressum
                    h2 Autoren:
                    p Luca Hesse
                    p Jonathan Mader
                    p Tim Lehmann 
                    p Tobias Krumrein 
                    p Erkam Dogan 
                    p Darian Weiß

                    h2 Kontakt:
                    p Jonathan Mader: jmader@uni-muenster.de 
                         a(href='mailto:%6amad%65%72@u%6e%69%2dmu%65ns%74er%2ede' target='_blank') Hier klicken um Jonathan eine Email zu schreiben!
                              ion-icon(name='mail-outline' style='color:#000000')
                    h2 Bild Quellen: 
                    p 
                    a(href='') 
     