extends layout

block content
    br
    h1 GeoAtzen
    .row.justify-content-md-center
        .col-lg-6.col-xs-12.mb-3
            .card.text-dark.p-4.border-success.card
                    
                    p Dies ist unsere WebApp ...
                    br
                    p Mit der Navigationsleiste ist es möglich zwischen den Seiten zu wechseln
                    br
    h2 Erklärung:
    .row.justify-content-md-center
        .col-lg-6.col-xs-12.mb-3
            .card.text-dark.p-4.border-success.card
                br
                h3 Erklärung
                p WebApp zur dürchführung einer AOA und aller dafür benötigen Schritte
        
        .col-lg-6.col-xs-12.mb-3
            .card.text-dark.p-4.border-success.card
                h3 Anwenundungsseite
                p Durchführung der Prediction, AOA, des trainieren des Algortihmus und der Bereiche, wo weitere Trainingsdaten erhoben werden müssen
                br
                br
    .row.justify-content-md-center
        .col-lg-6.col-xs-12.mb-3
            .card.text-dark.p-4.border-success.card
                h3 Ergebnisseite
                p Hier werden die Fertigen Ergebniss angezeigt. Der Anwendenen Person ist es hier möglich, sich die einzelnen Dateien einzeln nach Auswahl anzeigen zu lassen
        
