
#anwendungsmap {
    height: 850px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#ergebnismap {
    height: 850px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin-left: 2%;
}

h1 {
    margin-left: 2%;
}

h2 {
    margin-left: 2%;
}

h3 {
    margin-left: 2%;
}

h4 {
    margin-left: 2%;
}
